body {
    margin: 0;
}

a {
    color: white;
}

.logo-container {
    position: relative;
    height: 100vh;
    width: 500px;
}

.logo-text {
    position: absolute;
    top: 35%;
    width: 100%;
    padding: 30px 0px;
    font-size: 4rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.729);
}

.frog-image {
    height: 100%;
    width: 500px;
}

.photo-credit {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2%;
    color: white;
}