body {
    margin: 0;
    overflow-y: hidden;
    font-family: 'Barlow', sans-serif;
    background-color: rgb(171, 220, 171)
}

h1 {
    font-size: 3rem;
    margin: 20px 0px 70px 30px;
}

h2 {
    margin: 0px 0px 80px 30px;
    font-size: 1.8rem;
}

h3 {
    margin: 0px 0px 10px;
    font-size: 1.5rem;
}

input {
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    height: 1.7rem;
    width: 250px;
}

input:focus {
    border: 2px solid blue;
    box-shadow: 2px 2px 4px rgb(129, 167, 129);
    outline: none;
}

input:not(:focus):not(:placeholder-shown):valid {
    border: 2px solid green;
}

#email:not(:focus):not(:placeholder-shown):invalid,
#phone:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid red;
}

#email:not(:focus):not(:placeholder-shown):invalid ~ .email-hint {
    display: block;
}

#phone:not(:focus):not(:placeholder-shown):invalid ~ .phone-hint {
    display: block;
}

.all-container {
    display: flex;
}

.logo-container {
    position: relative;
    height: 100vh;
    width: 40vw;
    min-width: 500px;
}

.logo-text {
    position: absolute;
    top: 38%;
    width: 100%;
    padding: 20px 0px;
    font-size: 4rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.729);
}

.frog-image {
    height: 100%;
    width: 100%;
}

.photo-credit {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2%;
    color: white;
}

.photo-credit {
    font-size: 0.8rem;
}

.photo-credit > a {
    color: white;
}

.form-container {
    background-color: rgb(209, 243, 209);
    width: 60vw;
    min-width: 542px;
    padding: 10px 30px 30px;
    box-shadow: 2px 8px 10px rgb(129, 167, 129);
}

.required-note {
    font-size: 0.8rem;
    margin: 5px 0px 10px 0px;
}

.email-hint, .phone-hint, .password-msg {
    display: none;
    font-size: 0.8rem;
    color: red;
}

.form-row {
    display: flex;
    gap: 30px;
    padding-bottom: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.optional {
    font-size: 0.8rem;
}

.submit-container {
    margin: 30px 30px 10px;
}

.submit-container > button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(30, 168, 30);
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    box-shadow: 3px 3px 5px rgb(129, 167, 129);
}

.login-container {
    margin-top: 20px;
    margin-left: 30px;
}

.login-container > a {
    color: black;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    h1 {
        margin: 20px 0px;
    }

    h2 {
        margin: 0px 0px 20px;
    }

    input {
        width: 300px;
    }

    .all-container {
        flex-direction: column;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        height: 40vh;
        width: 100%;
        min-width: 500px;
    }

    .frog-image {
        object-fit: cover;
        object-position: 50% 24%;
    }

    .form-container {
        width: auto;
        min-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 30px;
    }

    #sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        padding-bottom: 0px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .login-container {
        margin-left: 0px;
        padding-bottom: 10px;
    }
}